<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Created Events:</strong>
  <% @user.created_events.each do |event| %>
    <%= link_to event do %>
      <%= render partial: "events/card", locals: { event: event } %>
    <% end %>
  <% end %>
</p>
