<p id="notice"><%= notice %></p>

<h1>All Events</h1>

<% @events.each do |event| %>
  <%= link_to event do %>
    <%= render partial: "card", locals: { event: event } %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Event', new_event_path %>
