<div class="container">
  <h1 class="centered-text">All Events</h1>

  <section>
    <h2 class="centered-text">Upcoming Events</h2>

    <section class="event-list">
      <% @events.each do |event| %>
        <%= link_to event do %>
          <%= render partial: "card", locals: { event: event } %>
        <% end %>
      <% end %>
    </section>
  </section>

  <section>
    <h2 class="centered-text">Past Events</h2>
  </section>
</div>
