<div class="container">
  <h1 class="centered-text">All Events</h1>

  <section>
    <h2 class="centered-text">Upcoming Events</h2>

    <section class="event-list">
      <% @events.upcoming.each do |event| %>
        <%= render partial: "card", locals: { event: event } %>
      <% end %>
    </section>
  </section>

  <hr>

  <section>
    <h2 class="centered-text">Past Events</h2>

    <section class="event-list">
      <% @events.past.each do |event| %>
        <%= render partial: "card", locals: { event: event } %>
      <% end %>
    </section>
  </section>
</div>
