/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
   font-family: sans-serif;
 }

 .centered-container {
   width: 40%;
   margin: 0 auto;
 }

 .centered-text {
   text-align: center;
 }

 .nav-bar {
   display: flex;
   flex-wrap: wrap;
   background: hsl(264, 50%, 60%);
   min-height: 4rem;
 }

 .nav-button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 0 1rem;
   font-size: 1.5rem;
   text-decoration: none;
   min-height: 3rem;
 }

 .nav-button:hover {
   background: hsl(264, 50%, 40%);
 }

 a.nav-button {
   color: white;
 }

 .nav-right {
   margin-left: auto;
 }

 .flash {
   padding: 0.5rem;
 }

 .notice {
   background: hsl(205, 77%, 70%);
 }

 .alert {
   background: hsl(35, 60%, 76%);
 }

 hr {
   border: 0;
   height: 1px;
   background: linear-gradient(to right, hsla(0, 0%, 0%, 0%), hsla(0, 0%, 0%, 30%), hsla(0, 0%, 0%, 0%));
  }

  .field input, .field textarea {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.25rem;
  }

  .field input {
    font-size: 2rem;
  }

  .field input:focus, .field textarea:focus {
    outline: none;
    border: 1px solid hsl(0, 0%, 60%);
  }

  .field textarea {
    height: 10rem;
  }

  .field label {
    font-size: 1.5rem;
  }

  @media all and (max-width: 600px) {
    .nav-button {
      flex-basis: 100%;
    }
  }
