// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event-card {
  border: 1px solid black;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
