// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 2fr 12fr;
  grid-template-areas:
    "title title title"
    "host date attendee-count"
    "description description description";
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.5rem;
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  margin: 0.5rem;
}

.event-card-title {
  grid-area: title;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  background: hsl(0, 0%, 30%);
}

.event-card-title:hover {
  background: hsl(0, 0%, 40%);
}

.event-card-host {
  grid-area: host;
  text-align: center;
  padding: 0.25rem;
  font-size: 0.8rem;
  align-self: center;
}

.event-card-date {
  grid-area: date;
  text-align: center;
  padding: 0.25rem;
  font-size: 0.8rem;
  align-self: center;
}

.event-card-attendee-count {
  grid-area: attendee-count;
  text-align: center;
  padding: 0.25rem;
  font-size: 0.8rem;
  align-self: center;
}

.event-card-description {
  grid-area: description;
  padding: 0.5rem;
  overflow: auto;
  border-top: 1px solid hsl(0, 0%, 80%);
  white-space: pre-line;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-submit {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  background: hsl(120, 50%, 45%);
  color: white;
  border: none;
}

.event-submit:hover {
  background: hsl(120, 50%, 40%);
}

.event-title-input {
  font-size: 2rem;
}
